/* .frame2 {
    transform: rotate(-17.52deg);
    left: 50%;

}

.frame2>img {
    border-radius: 35px;

}

.frame1 {
    transform: rotate(9.52deg);
    right: 30%;
}

.frame3 {
    right: 10%;
}

.frame4 {
    left: 60%;
}

.frame5 {
    right: 25%;

} */