.frame2 {
    transform: rotate(-17.52deg);
    left: 13%;
    border-radius: 35px;

}



.frame1 {
    transform: rotate(9.52deg);
    left: 10%;
    top: 55%;
}

.frame3 {
    left: 50%;
    transform: translateX(-50%);
}

.frame4 {
    left: 58%;
    transform: rotate(10.84deg);
}

.frame5 {
    right: 10%;
    transform: rotate(-5.63deg);

    top: 60%;

}