/* Import Custom font here */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */

nav {
    font-size: 15px;
}

nav>ul>li:hover {
    background: linear-gradient(90.03deg, rgba(186, 156, 249, 0.3) 0.03%, rgba(186, 156, 249, 0.1) 99.97%);
    border-radius: 7px;
}

nav>ul>li {

    padding-left: 0.75rem;
    width: 150px;

}

work-card {
    background: #0B0914;
    border-radius: 35px;
    transform: matrix(1, -0.01, -0.01, -1, 0, 0);
}




.left-container>p {
    font-family: 'Neue Plak';
    font-style: normal;
    /* font-weight: 400; */
    font-size: 20px;
    line-height: 25px;
}

.right-container>img {
    object-fit: contain;
}